:root {
    --color-primary: #fbe7ef;
    --color-secondary:#080e2c;
    --color-backround: #000000;
}

.btn {
    border: 1px solid var(--color-primary);
    border-radius: 100px;
}

#bg-header {
    background-color: var(--color-backround);
    width: 100%;
    height: 100vh;
    background: url('../images/clouds_jumbotron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

.row {
    height: 80vh;
}

hr {
    background-color: var(--color-primary);
}

nav a {
    color: var(--color-primary) !important;
    font-size: 24px !important;
    margin-right: 2vw;
}

#navbarNav {
    margin-right: 8vw;
}

nav a:hover {
    color: var(--color-backround) !important;
    border-bottom: solid var(--color-backround) 2px;
}

.divider {
    background-color: var(--color-backround) !important;
    width: 30%;
}

.jumbotron {
    margin-bottom: 0;
}

#about {
    background-color: var(--color-backround);
    max-width: 100%;
    height: 100vh;
    background: url('../images/bg_aboutme.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    color: var(--color-primary);
}

#about p {
    font-size: 26px;
}

.text-dark {
    color: var(--color-secondary) !important;
}

.text-light {
    color: var(--color-primary) !important;
}



