/*///////////*/
/* VARIABLES */
/*///////////*/
:root {
    --color-primary: #fbe7ef;
    --color-secondary:#080e2c;
    --color-backround: #000000;
}

/*///////////*/
/*   HEADER  */
/*///////////*/
#bg-header {
    background-color: var(--color-backround);
    width: 100%;
    height: 100vh;
    background: url('../images/bg_header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
}

#intro {
    margin-top: 20vh;
}
hr {
    background-color: var(--color-primary);
}

nav a {
    color: var(--color-primary) !important;
    font-size: 24px !important;
    margin-right: 2vw;
}

#navbarNav {
    margin-right: 8vw;
}

nav a:hover {
    color: var(--color-backround) !important;
    border-bottom: solid var(--color-backround) 2px;
}

.divider {
    background-color: var(--color-backround) !important;
    width: 30%;
}

.jumbotron {
    margin-bottom: 0;
}

/*///////////*/
/*   ABOUT   */
/*///////////*/
#about {
    padding-top: 64px;
    padding-bottom:64px;
    background-color: var(--color-backround);
    max-width: 100%;
    height: 100vh;
    background: url('../images/bg_aboutme.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    color: var(--color-primary);
}

#about p {
    font-size: 26px;
}

#face {
    width: 15%;
    height: 15%;
    margin-bottom: 2vh;
}

.list-group {
    display: table;
    margin: 0 auto;
}

.list-group-item {
    text-align: left;
    background-color: transparent;
    border: none;
    color: var(--color-secondary);
}

/*///////////*/
/*   WORK    */
/*///////////*/
.card {
    border-radius: 5%;
    transition: transform .2s;
}

.card:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transform: scale(1.03);
}

.card-img-top {
    height: 40vh;
    background-color: var(--color-backround);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: 100% 0px;
    color: var(--color-primary);
    max-width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}